.verifybar {
    width: 100%;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    /* Stack items vertically on smaller screens */
    align-items: center;
    /* Center content horizontally */
}

.veritext {
    text-align: center;
    /* Center text */
}

.veritext p {
    margin-bottom: 10px;
}

.veribut {
    background: orangered;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    /* Adjust font size for mobile */
    padding: 10px 20px;
    /* Adjust padding for mobile */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .veribut {
        font-size: 14px;
        /* Adjust font size for smaller screens */
        padding: 8px 16px;
        /* Adjust padding for smaller screens */
    }
}