.fulldiv {
    width: 100%;
    height: 100vh;
}

.homefirstdiv {
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 1;
    position: relative;
}

.imagepart {
    position: absolute;
    top: 15%;
    left: -5%;

}

.imagepart img {
    height: 60vw;
}

.textpart {
    position: relative;
    top: 25%;
    left: 5%;
    width: 50%;
}

.textpart h2 {
    font-weight: 600;
}

.textpart p {
    font-weight: 100;
    font-size: 14px;
    width: 70%;
    margin-left: 10px;
}

.info {
    position: absolute;
    z-index: 2;
    background: white;
    height: 130px;
    width: 90%;
    left: 5%;
    top: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
}

.registered {
    margin-left: 11%;
    margin-top: 3%;
}

.registered p {
    font-size: 13px;
}

@media (max-width: 2200px) {
    .info {
        top: 140%;
    }
}

@media (max-width: 2000px) {
    .info {
        top: 130%;
    }
}

@media (max-width: 1800px) {
    .info {
        top: 120%;
    }
}

@media (max-width: 1600px) {
    .info {
        top: 100%;
    }
}

@media (max-width: 1200px) {
    .imagepart {
        display: none;
    }

    .homefirstdiv {
        flex-direction: column;
        height: 100px;
    }

    .textpart {
        margin-top: 80px;
        position: static;
        width: 100%;
        text-align: center;
    }

    .textpart p {
        position: static;
        width: 95%;
        text-align: center;
    }

    .textpart h2 {
        font-weight: 600;
        margin: 20px;
    }

    .info {
        position: absolute;
        z-index: 2;
        background: white;
        height: 130px;
        width: 90%;
        left: 5%;
        top: 50%;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        display: flex;
    }
}

@media (max-width: 780px) {
    .homefirstdiv {
        flex-direction: column;
        height: auto;
    }

    .imagepart {
        display: none;
    }

    .textpart {
        position: static;
        width: 100%;
        text-align: center;
    }

    .textpart p {
        position: static;
        width: 95%;
        text-align: center;
    }


    .registered {
        margin-left: 0;
        margin-top: 3%;
        text-align: center;

    }

    .registered h3 {
        color: orangered;
    }

    .textpart h2 {
        font-weight: 600;
        margin: 20px;
    }

    .info {
        position: absolute;
        z-index: 2;
        background: white;
        width: 90%;
        left: 5%;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 10px;
    }
}

@media (max-width: 660px) {
    .textpart h2 {
        font-weight: 600;
        font-size: 30px;
        margin: 20px;
    }

    .info {
        position: absolute;
        z-index: 2;
        background: white;
        width: 90%;
        left: 5%;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 10px;
        top: 50%;
    }
}

@media (max-width: 480px) {
    .info {
        top: 55%;
    }
}

@media (max-width: 400px) {
    .info {
        top: 60%;
    }
}

@media (max-width: 328px) {
    .info {
        top: 70%;
    }
}